# Visual Studio 2015/2017 cache/options directory
.vs/

# A collection of useful .gitignore templates 
# https://github.com/github/gitignore\xa
# General
.DS_Store
dir/otherdir/.DS_Store

# VS Code files for those working on multiple tools
.vscode/
